{% extends 'layout/app.html.twig' %}

{% set page = 'pages' %}

{% block title %}Управление страницами{% endblock %}

{% block content %}
    <div
        class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Редактирование страницы: Главная
            </h1>
        </section>

        <section
            class="content">

            <!-- Default box -->
            <div class="box">
                <div class="box-body">
                    <p>Для начала редактирования страницы нажмите на кнопку "Начать редактирование".</p>
                    <p>После начала редактирования вы будете перенаправленны на страницу сайта с активным режимом редактирования.</p>
                    <p>В режиме редактирования вам доступно изменение текста, загрузка изображений, редактирование стиля текста.</p>
                    <p>Для открытия блока с доступными функциями дважды кликнете на нужное вам слово.</p>
                    <br />
                    <p>После внесения необходимых изменений в левом нижнем углу нажмите на кнопку "Сохранить".</p>
                    <p>Либо отмените изменения и выйдите из режима редактирования нажав на кнопку "Завершить редактирование".</p>
                    <br />
                    <p>Для выхода из режима редактирования требуется обязательно нажатие на кнопку. Обыная перезагрузка страницы приведет к повторному включению режима.</p>
                </div>
                <div class="box-footer">
                    <a class="btn btn-default" href="{{ path_for('pages') }}">Вернуться назад</a>

                    <a class="btn btn-danger pull-right" href="{{ path_for('pages.edit.start', {'page': pageName}) }}">Начать редактирование</a>
                </div>
                <!-- /.box-footer-->
            </div>
            <!-- /.box -->

        </section>

    </div>
{% endblock %}
