{% extends 'layout/app.html.twig' %}

{% set page = 'dashboard' %}

{% block title %}Администрационная панель{% endblock %}

{% block content %}
 <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Администрационная панель
                <small>добро пожаловать...</small>
            </h1>
        </section>

        <section class="content">

            <!-- Default box -->
            <div class="box">
                <div class="box-body">
                    <p>В левом меню вам доступны необходимые разделы для управления страницами.</p>
                    <p>На данный момент вам доступно:</p>
                    <ul>
                    <li>Визуальное редактирование страниц в интерактивном режиме.</li>
                    <li>Просмотр и управление заявок пользователей с контактных форм.</li>
                    <li>Управление настройками проекта.</li>
                    <li>Редактирование файла настроек индексации (robots.txt).</li>
                    <li>Просмотр статистики посещаемости сайта.</li>
                    </ul>
                    <p><br /></p>
                    <p>Для добавления дополнительного функционала или при возникновении вопросов либо сложностей в работе обращайтесь к разработчику <a target="_blank" href="https://github.com/TheNord">TheNord</a> или через сайт фриланса.</p>
                
                    <div id="container" style="margin-top: 50px;"></div>

                    <script>
                        Highcharts.chart('container', {
                            title: {
                                text: 'Статистика сайта'
                            },
                            yAxis: {
                                title: {
                                    text: 'Просмотров'
                                }
                            },
                            legend: {
                                layout: 'vertical',
                                align: 'right',
                                verticalAlign: 'middle'
                            },
                            xAxis: {
                                categories: [ {{ datesResult | raw }} ]
                            },
                            series: [{
                                name: 'Просмотров',
                                data: [{{ viewsResult | raw }}]
                            }],
                            responsive: {
                                rules: [{
                                    condition: {
                                        maxWidth: 500
                                    },
                                    chartOptions: {
                                        legend: {
                                            layout: 'horizontal',
                                            align: 'center',
                                            verticalAlign: 'bottom'
                                        }
                                    }
                                }]
                            }
                        });
                    </script>
                </div>
                <!-- /.box-footer-->
            </div>
            <!-- /.box -->

        </section>

    </div>
{% endblock %}

{% block headerscripts %}
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/series-label.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
{% endblock %}