{% extends "layout/auth.html.twig" %}

{% block content %}
    <div class="login-box-body">
        <p class="login-box-msg">Авторизация в системе</p>
        <form method="POST" action="{{ path_for('login.check') }}">
            <div class="form-group has-feedback">
                <input class="form-control" name="email" placeholder="Email" required type="email">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input class="form-control" name="password" placeholder="Password" required type="password">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <button class="btn btn-primary btn-block btn-flat" type="submit">Войти</button>
        </form>
        <br/>
        <a href="{{ path_for('register.index') }}" class="text-center">Регистрация нового пользователя</a>
    </div>
{% endblock %}
